@page "{id:int}"
@model VideoGameManager.Pages.Games.DetailsModel
@{
    ViewData["Title"] = "Detalls del Joc";
}

<h1>Detalls</h1>

<dl class="row">
    <dt class="col-sm-2">Id</dt>
    <dd class="col-sm-10">@Model.Game.Id</dd>

    <dt class="col-sm-2">Títol</dt>
    <dd class="col-sm-10">@Model.Game.Title</dd>

    <dt class="col-sm-2">Gènere</dt>
    <dd class="col-sm-10">@Model.Game.Genre</dd>

    <dt class="col-sm-2">Any</dt>
    <dd class="col-sm-10">@Model.Game.Year</dd>

    <dt class="col-sm-2">Puntuació</dt>
    <dd class="col-sm-10">@Model.Game.Score</dd>

    <dt class="col-sm-2">Descripció</dt>
    <dd class="col-sm-10">@Model.Game.Description</dd>
</dl>
